.app-layout {
    height: 100vh;

    .ant-layout-sider {
        background: #fff;

        nz-tree {
            height: calc(100% - 60px);
            overflow: auto;
        }
    }
}

.ant-tree ::ng-deep.ant-tree-node-content-wrapper {
    flex: 1;

    .custom-node {
        display: flex;
        justify-content: space-between;

        .oper-icon {
            display: none;
        }

        &:hover .oper-icon {
            display: inline-flex;
        }
    }
}

.add-btn {
    position: absolute;
    bottom: 5px;
    left: 5px;
    right: 5px;
}

.cg_icon_div {
    position: absolute;
    left: 0;
    bottom: 0;

    .anticon:hover {
        cursor: pointer;
    }
}